{% extends 'base.html.twig' %}
{% block body %}

<div style="text-align: center">
    <div class="row catInfo">
        <div class="col-8"></div>
        <div class="col-2">
            <span>Количество отображаемого оружия: </span>
        </div>
        <div class="col-2">
            <select name="pageSize" id="pageSizeId">
                <option value="2" {% if pageSize == 2 %} selected {% endif %}>2 единицы</option>
                <option value="4" {% if pageSize == 4 %} selected {% endif %}>4 единицы</option>
                <option value="8" {% if pageSize == 8 %} selected {% endif %}>8 единицы</option>
            </select>
            <script>
                let selectPageSize = document.getElementById('pageSizeId');
                selectPageSize.addEventListener('change', () => {
                    let pageSize = selectPageSize.value;
                    window.location.href = "{{ url('main_allweapons') }}" + '?pageSize=' + pageSize + '&page=' + {{ page }};
                });
            </script>
        </div>
    </div>
    <div class="row">
    {% for weapon in weapons  %}
        <div class="col-6" style="padding: 2em"; >
{#        <a href="{{ url('weapon', {'id': weapon.id}) }}">#}
        <a href="{{ url('weapon', {'id': weapon.id}) }}">
            {%  if weapon.getImage %}
                <img src="{{ weapon.getImage }}"width="600"height="400">
            {% endif %}
            <div class="h5">{{ weapon.brand.name }}</div>
            <div class="h5" style=" text-transform: uppercase;">{{ weapon.name }}</div>
              <style>
                  div.h5 {
                      text-decoration: none;

                      color: #f3ebeb;
                      padding: 0px 15px;
                      font-family: arial;
                      border-bottom: 0px solid #f88c00;
                      margin-inline: 20em;
                  }
              </style>

        </a>
        </div>

    {% endfor %}
    </div>
    <div id="pagination" class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <a id="a_pagination" href="{{ url('main_allweapons', { 'page': 1, 'pageSize':  pageSize }) }}"><<</a>
            <a id="a_pagination" href="{{ url('main_allweapons', { 'page': page - 1, 'pageSize':  pageSize }) }}"><</a>
            {% for pageNumber in pageNumbers %}
                <a id="a_pagination" href="{{ url('main_allweapons', { 'page': pageNumber, 'pageSize': pageSize }) }}">{{ pageNumber }}</a>
            {% endfor %}
            {% if (page + 1) <= totalPageSize %}
                <a id="a_pagination" href="{{ url('main_allweapons', { 'page': page + 1, 'pageSize':  pageSize }) }}">></a>
            {% endif %}
            <a id="a_pagination" href="{{ url('main_allweapons', { 'page': totalPageSize, 'pageSize':  pageSize }) }}">>></a>
        </div>
        <div class="col-2"></div>
    </div>
</div>


 {% endblock %}